extends ./layout/index
block contenido
    main.container.mt-5 
        .row    
            .col-md-5 
               img(src="/img/nosotros.jpg", alt="Imane Nosotros", class="img-fluid")
            .col-md-7
                h1 #{titlePage}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Morbi ultrices ipsum sed justo viverra, molestie aliquet nisi pharetra.
                    Fusce vehicula, magna sit amet fermentum dapibus, ex diam gravida nulla, 
                    quis pretium metus turpis at nulla. Pellentesque in dui gravida, feugiat 
                    turpis vel, sollicitudin sapien. Proin non urna fringilla, volutpat neque ut,
                    consequat nisi. Cras pulvinar euismod laoreet. Nullam a auctor felis, nec
                    pellentesque enim. Sed ex arcu, dignissim eget ligula in, lobortis convallis mi.
                    Cras congue varius condimentum.

                p Proin a laoreet lorem. Etiam laoreet justo purus, et ultricies tortor sodales eu.
                    Quisque maximus lacus ut enim pellentesque, id vulputate sem commodo. Aliquam venenatis
                    egestas felis, in dapibus metus. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia curae; Donec in nibh at sapien semper gravida. Donec varius
                    scelerisque lectus eu ornare. Ut maximus vitae felis at dictum. Donec commodo leo magna,
                    eu tempus nisi elementum ac. Phasellus euismod arcu eu porta condimentum. Aenean et orci
                    sed leo consequat elementum. Pellentesque condimentum ultricies turpis a lobortis.    


                p Proin a laoreet lorem. Etiam laoreet justo purus, et ultricies tortor sodales eu.
                    Quisque maximus lacus ut enim pellentesque, id vulputate sem commodo. Aliquam venenatis
                    egestas felis, in dapibus metus. Vestibulum ante ipsum primis in faucibus orci luctus
                    et ultrices posuere cubilia curae; Donec in nibh at sapien semper gravida. Donec varius
                    scelerisque lectus eu ornare. Ut maximus vitae felis at dictum. Donec commodo leo magna,
                    eu tempus nisi elementum ac. Phasellus euismod arcu eu porta condimentum. Aenean et orci
                    sed leo consequat elementum. Pellentesque condimentum ultricies turpis a lobortis. 
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row        
                .col-md-4       
                    img(src="/img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum ante ipsum primis in faucibus orci luctuset ultrices posuere cubilia curae;
                     Donec in nibh at sapien semper gravida. Donec varius
                .col-md-4       
                    img(src="/img/icono_destinos.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum ante ipsum primis in faucibus orci luctuset ultrices posuere cubilia curae;
                     Donec in nibh at sapien semper gravida. Donec varius    
                .col-md-4       
                    img(src="/img/icono_precios.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Vestibulum ante ipsum primis in faucibus orci luctuset ultrices posuere cubilia curae;
                     Donec in nibh at sapien semper gravida. Donec varius   

